<div class="h-full bg-gradient-to-br from-indigo-300 via-purple-300 to-pink-300 overflow-hidden pt-12">
  <p class="w-full text-center pt-4"> Heading</p>
  <div class="bg-transparent h-full text-white pt-4">
    Content
  </div>
  <div class="justify-evenly flex  w-full  fixed bottom-0 p-4 pb-8">
    <a class="rounded-full border border-white  w-12 h-12 flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="lucide lucide-newspaper">
        <path
          d="M4 22h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v16a2 2 0 0 1-2 2Zm0 0a2 2 0 0 1-2-2v-9c0-1.1.9-2 2-2h2"/>
        <path d="M18 14h-8"/>
        <path d="M15 18h-5"/>
        <path d="M10 6h8v4h-8V6Z"/>
      </svg>
    </a>
    <a class="rounded-full border border-white w-12 h-12 flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="lucide lucide-cigarette">
        <path d="M18 12H2v4h16"/>
        <path d="M22 12v4"/>
        <path d="M7 12v4"/>
        <path d="M18 8c0-2.5-2-2.5-2-5"/>
        <path d="M22 8c0-2.5-2-2.5-2-5"/>
      </svg>
    </a>
    <a class="rounded-full border border-white w-12 h-12 flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="lucide lucide-area-chart">
        <path d="M3 3v18h18"/>
        <path d="M7 12v5h12V8l-5 5-4-4Z"/>
      </svg>
    </a>
    <a class="rounded-full border border-white w-12 h-12 flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="lucide lucide-user">
        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/>
        <circle cx="12" cy="7" r="4"/>
      </svg>
    </a>
  </div>
</div>
